<%= form_with(model: book) do |form| %>
<div class='cardo'>
  <div class='card-box'>
    <% if book.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <b><%= t 'errors', count: book.errors.count %></b>
        <ul>
          <% book.errors.each do |error| %>
            <li><small>
              <%= error.full_message %>
            </small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.text_field :name, {class: 'form-control', placeholder: t('Forms.Name')}%>
    <%= form.text_field :author, {class: 'form-control', placeholder: t('Forms.Author')}%>
    <%= form.text_field :publishing_house, {class: 'form-control', placeholder: t('Forms.Publishing house') }%>
    <%= form.number_field :year, {class: 'form-control', placeholder: t('Forms.Year')} %>
    <%= form.text_field :isbn, {class: 'form-control', placeholder: t('Forms.ISBN')} %>
    <%= form.submit value: t('Forms.create')%>
  </div>
</div>
<% end %>
