<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publishing house:</strong>
  <%= @book.publishing_house %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>
<% if @book.related?(@current_user)%>
  <%=  button_to 'Unlike', {controller: :books, action: :unlike, id: @book.id }, method: :put%>
<% else%> 
  <%=  button_to 'Like', {controller: :books, action: :like, id: @book.id }, method: :put%>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
