<p id="notice"><%= notice %></p>
<div style='margin: auto; width: 20%;'>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publishing house:</strong>
  <%= @book.publishing_house %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>
<% if @book.related?(@current_user)%>
  <%=  button_to 'Unlike', {controller: :books, action: :unlike, id: @book.id }, method: :put, class: 'btn btn-danger'%>
<% else%> 
  <%=  button_to 'Like', {controller: :books, action: :like, id: @book.id }, method: :put, class: 'btn btn-outline-danger'%>
<% end %>

<% if @current_user == @book.users.first%>
<%= link_to 'Edit', edit_book_path(@book) %>
<% end%>
<%= button_to 'Back', {controller: :books, action: :index}, method: :get, class: 'btn btn-outline-secondary'%>
